In [ ]:
import pyodbc
from sqlalchemy import create_engine
import pandas as pd
import psycopg2
import os

#sql server db details
driver = 'ODBC Driver 18 for SQL Server'
server = 'DESKTOP-MS4DILS\\THUS'
database = 'AdventureWorksDW2022'
uid = os.environ['PGUID']
pwd = os.environ['PGPASS']

sql_conn = pyodbc.connect(
    r"DRIVER={ODBC Driver 18 for SQL Server};"
    r"SERVER=DESKTOP-MS4DILS\THUS;"
    r"DATABASE=AdventureWorksDW2022;"
    r"Trusted_Connection=yes;"
    r"Encrypt=yes;"
    r"TrustServerCertificate=yes;"
)

#test connection
print(sql_conn)

# Define postgresql connection
db_user = 'etl'
db_password = 'etlpass'
db_host = 'localhost'  # or your PostgreSQL server IP
db_port = '5432'       # default PostgreSQL port
db_name = 'AdventureWorks'

# PostgreSQL connection
pg_engine = create_engine(f'postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

#allows interaction with sql database
cursor = sql_conn.cursor()

In [ ]:
#Insert into sql server destination table
def LoadAccident(dataframe):
    # SQL to check existence and create table
    create_table_sql = """
    IF NOT EXISTS (
        SELECT * FROM INFORMATION_SCHEMA.TABLES 
        WHERE TABLE_NAME = '[load].[accidents]'
    )
    BEGIN
        CREATE TABLE [load].[accidents]
        (
            [CASENUM] [bigint] NOT NULL,
            [STRATUM] [tinyint] NOT NULL,
            [STRATUMNAME] [nvarchar](100) NOT NULL,
            [REGION] [tinyint] NOT NULL,
            [REGIONNAME] [nvarchar](100) NOT NULL,
            [PSU] [tinyint] NOT NULL,
            [PJ] [smallint] NOT NULL,
            [PSU_VAR] [tinyint] NOT NULL,
            [URBANICITY] [tinyint] NOT NULL,
            [URBANICITYNAME] [nvarchar](100) NOT NULL,
            [VE_TOTAL] [tinyint] NOT NULL,
            [VE_FORMS] [tinyint] NOT NULL,
            [PVH_INVL] [tinyint] NOT NULL,
            [PEDS] [tinyint] NOT NULL,
            [PERMVIT] [tinyint] NOT NULL,
            [PERNOTMVIT] [tinyint] NOT NULL,
            [NUM_INJ] [tinyint] NOT NULL,
            [NUM_INJNAME] [nvarchar](100) NOT NULL,
            [MONTH] [tinyint] NOT NULL,
            [MONTHNAME] [nvarchar](100) NOT NULL,
            [YEAR] [smallint] NOT NULL,
            [YEARNAME] [smallint] NOT NULL,
            [DAY_WEEK] [tinyint] NOT NULL,
            [DAY_WEEKNAME] [nvarchar](100) NOT NULL,
            [HOUR] [tinyint] NOT NULL,
            [HOURNAME] [nvarchar](100) NOT NULL,
            [MINUTE] [tinyint] NOT NULL,
            [MINUTENAME] [tinyint] NULL,
            [HARM_EV] [tinyint] NOT NULL,
            [HARM_EVNAME] [nvarchar](150) NOT NULL,
            [ALCOHOL] [tinyint] NOT NULL,
            [ALCOHOLNAME] [nvarchar](100) NOT NULL,
            [MAX_SEV] [tinyint] NOT NULL,
            [MAX_SEVNAME] [nvarchar](100) NOT NULL,
            [MAN_COLL] [tinyint] NOT NULL,
            [MAN_COLLNAME] [nvarchar](100) NOT NULL,
            [RELJCT1] [tinyint] NOT NULL,
            [RELJCT1NAME] [bit] NULL,
            [RELJCT2] [tinyint] NOT NULL,
            [RELJCT2NAME] [nvarchar](100) NOT NULL,
            [TYP_INT] [tinyint] NOT NULL,
            [TYP_INTNAME] [nvarchar](100) NOT NULL,
            [WRK_ZONE] [tinyint] NOT NULL,
            [WRK_ZONENAME] [nvarchar](100) NOT NULL,
            [REL_ROAD] [tinyint] NOT NULL,
            [REL_ROADNAME] [nvarchar](100) NOT NULL,
            [LGT_COND] [tinyint] NOT NULL,
            [LGT_CONDNAME] [nvarchar](100) NOT NULL,
            [SCH_BUS] [tinyint] NOT NULL,
            [SCH_BUSNAME] [nvarchar](100) NOT NULL,
            [INT_HWY] [bit] NULL,
            [INT_HWYNAME] [bit] NULL,
            [WEATHER] [tinyint] NOT NULL,
            [WEATHERNAME] [nvarchar](100) NOT NULL,
            [WKDY_IM] [tinyint] NOT NULL,
            [WKDY_IMNAME] [nvarchar](100) NOT NULL,
            [HOUR_IM] [tinyint] NOT NULL,
            [HOUR_IMNAME] [nvarchar](100) NOT NULL,
            [MINUTE_IM] [tinyint] NOT NULL,
            [MINUTE_IMNAME] [tinyint] NOT NULL,
            [EVENT1_IM] [tinyint] NOT NULL,
            [EVENT1_IMNAME] [nvarchar](150) NOT NULL,
            [MANCOL_IM] [tinyint] NOT NULL,
            [MANCOL_IMNAME] [nvarchar](100) NOT NULL,
            [RELJCT1_IM] [bit] NOT NULL,
            [RELJCT1_IMNAME] [bit] NOT NULL,
            [RELJCT2_IM] [tinyint] NOT NULL,
            [RELJCT2_IMNAME] [nvarchar](100) NOT NULL,
            [LGTCON_IM] [tinyint] NOT NULL,
            [LGTCON_IMNAME] [nvarchar](100) NOT NULL,
            [WEATHR_IM] [tinyint] NOT NULL,
            [WEATHR_IMNAME] [nvarchar](100) NOT NULL,
            [MAXSEV_IM] [tinyint] NOT NULL,
            [MAXSEV_IMNAME] [nvarchar](100) NOT NULL,
            [NO_INJ_IM] [tinyint] NOT NULL,
            [NO_INJ_IMNAME] [nvarchar](100) NOT NULL,
            [ALCHL_IM] [tinyint] NOT NULL,
            [ALCHL_IMNAME] [nvarchar](100) NOT NULL,
            [PSUSTRAT] [tinyint] NOT NULL,
            [WEIGHT] [float] NOT NULL
        )
    END
    """
    #insert
    for index, row in dataframe.iterrows():
        cursor.execute(
            "INSERT INTO [load].[accidents] (FirstName, LastName, Salary) VALUES (?, ?, ?)",
            row['FirstName'], row['LastName'], row['Salary']
        )
    sql_conn.commit()
    return

In [ ]:
#Insert into sql server destination table
def LoadPerson(dataframe):
    # SQL to check existence and create table
    create_table_sql = """
    IF NOT EXISTS (
        SELECT * FROM INFORMATION_SCHEMA.TABLES 
        WHERE TABLE_NAME = '[load].[person]'
    )
    BEGIN
        CREATE TABLE [load].[person]
        (
            [CASENUM] [bigint] NOT NULL,
            [VE_FORMS] [tinyint] NOT NULL,
            [VEH_NO] [tinyint] NOT NULL,
            [PER_NO] [tinyint] NOT NULL,
            [STRATUM] [tinyint] NOT NULL,
            [STRATUMNAME] [nvarchar](100) NOT NULL,
            [REGION] [tinyint] NOT NULL,
            [REGIONNAME] [nvarchar](100) NOT NULL,
            [PSU] [tinyint] NOT NULL,
            [PJ] [smallint] NOT NULL,
            [PSU_VAR] [tinyint] NOT NULL,
            [URBANICITY] [tinyint] NOT NULL,
            [URBANICITYNAME] [nvarchar](100) NOT NULL,
            [STR_VEH] [bit] NULL,
            [MONTH] [tinyint] NOT NULL,
            [MONTHNAME] [nvarchar](100) NOT NULL,
            [HOUR] [tinyint] NOT NULL,
            [HOURNAME] [nvarchar](100) NOT NULL,
            [MINUTE] [tinyint] NOT NULL,
            [MINUTENAME] [tinyint] NULL,
            [HARM_EV] [tinyint] NOT NULL,
            [HARM_EVNAME] [nvarchar](150) NOT NULL,
            [MAN_COLL] [tinyint] NOT NULL,
            [MAN_COLLNAME] [nvarchar](100) NOT NULL,
            [SCH_BUS] [tinyint] NOT NULL,
            [SCH_BUSNAME] [nvarchar](100) NOT NULL,
            [MAKE] [tinyint] NULL,
            [MAKENAME] [nvarchar](100) NULL,
            [MAK_MOD] [int] NULL,
            [MAK_MODNAME] [nvarchar](150) NULL,
            [BODY_TYP] [tinyint] NULL,
            [BODY_TYPNAME] [nvarchar](100) NULL,
            [MOD_YEAR] [smallint] NULL,
            [MOD_YEARNAME] [smallint] NULL,
            [TOW_VEH] [tinyint] NULL,
            [TOW_VEHNAME] [nvarchar](100) NULL,
            [SPEC_USE] [tinyint] NULL,
            [SPEC_USENAME] [nvarchar](100) NULL,
            [EMER_USE] [tinyint] NULL,
            [EMER_USENAME] [nvarchar](100) NULL,
            [ROLLOVER] [tinyint] NULL,
            [ROLLOVERNAME] [nvarchar](100) NULL,
            [IMPACT1] [tinyint] NULL,
            [IMPACT1NAME] [nvarchar](100) NULL,
            [FIRE_EXP] [tinyint] NULL,
            [FIRE_EXPNAME] [nvarchar](100) NULL,
            [AGE] [smallint] NOT NULL,
            [AGENAME] [nvarchar](100) NOT NULL,
            [SEX] [tinyint] NOT NULL,
            [SEXNAME] [nvarchar](100) NOT NULL,
            [PER_TYP] [tinyint] NOT NULL,
            [PER_TYPNAME] [nvarchar](100) NOT NULL,
            [INJ_SEV] [tinyint] NOT NULL,
            [INJ_SEVNAME] [nvarchar](100) NOT NULL,
            [SEAT_POS] [tinyint] NOT NULL,
            [SEAT_POSNAME] [nvarchar](100) NOT NULL,
            [REST_USE] [tinyint] NOT NULL,
            [REST_USENAME] [nvarchar](100) NOT NULL,
            [HELM_USE] [tinyint] NOT NULL,
            [HELM_USENAME] [nvarchar](100) NOT NULL,
            [HELM_MIS] [tinyint] NOT NULL,
            [HELM_MISNAME] [nvarchar](100) NOT NULL,
            [REST_MIS] [tinyint] NOT NULL,
            [REST_MISNAME] [nvarchar](100) NOT NULL,
            [AIR_BAG] [tinyint] NOT NULL,
            [AIR_BAGNAME] [nvarchar](100) NOT NULL,
            [EJECTION] [tinyint] NOT NULL,
            [EJECTIONNAME] [nvarchar](100) NOT NULL,
            [DRINKING] [tinyint] NOT NULL,
            [DRINKINGNAME] [nvarchar](100) NOT NULL,
            [ALC_STATUS] [tinyint] NOT NULL,
            [ALC_STATUSNAME] [nvarchar](100) NOT NULL,
            [ATST_TYP] [tinyint] NOT NULL,
            [ATST_TYPNAME] [nvarchar](100) NOT NULL,
            [ALC_RES] [smallint] NOT NULL,
            [ALC_RESNAME] [nvarchar](100) NOT NULL,
            [DRUGS] [tinyint] NOT NULL,
            [DRUGSNAME] [nvarchar](100) NOT NULL,
            [HOSPITAL] [tinyint] NOT NULL,
            [HOSPITALNAME] [nvarchar](100) NOT NULL,
            [LOCATION] [tinyint] NOT NULL,
            [LOCATIONNAME] [nvarchar](100) NOT NULL,
            [VPICMAKE] [int] NULL,
            [VPICMAKENAME] [nvarchar](100) NULL,
            [VPICMODEL] [int] NULL,
            [VPICMODELNAME] [nvarchar](100) NULL,
            [VPICBODYCLASS] [smallint] NULL,
            [VPICBODYCLASSNAME] [nvarchar](100) NULL,
            [ICFINALBODY] [int] NULL,
            [ICFINALBODYNAME] [nvarchar](100) NULL,
            [SEX_IM] [tinyint] NOT NULL,
            [SEX_IMNAME] [nvarchar](100) NOT NULL,
            [INJSEV_IM] [tinyint] NOT NULL,
            [INJSEV_IMNAME] [nvarchar](100) NOT NULL,
            [EJECT_IM] [tinyint] NOT NULL,
            [EJECT_IMNAME] [nvarchar](100) NOT NULL,
            [PERALCH_IM] [bit] NOT NULL,
            [PERALCH_IMNAME] [nvarchar](100) NOT NULL,
            [SEAT_IM] [tinyint] NOT NULL,
            [SEAT_IMNAME] [nvarchar](100) NOT NULL,
            [AGE_IM] [tinyint] NOT NULL,
            [AGE_IMNAME] [nvarchar](100) NOT NULL,
            [PSUSTRAT] [tinyint] NOT NULL,
            [WEIGHT] [float] NOT NULL
        )
    END
    """
    #insert
    for index, row in dataframe.iterrows():
        cursor.execute(
            "INSERT INTO YourTableName (FirstName, LastName, Salary) VALUES (?, ?, ?)",
            row['FirstName'], row['LastName'], row['Salary']
        )
    sql_conn.commit()
    return

In [ ]:
#Insert into sql server destination table
def LoadVehicles(dataframe):
    # SQL to check existence and create table
    create_table_sql = """
    IF NOT EXISTS (
        SELECT * FROM INFORMATION_SCHEMA.TABLES 
        WHERE TABLE_NAME = '[load].[vehicles]'
    )
    BEGIN
        CREATE TABLE [load].[vehicles]
        (
            [CASENUM] [bigint] NOT NULL,
            [VEH_NO] [tinyint] NOT NULL,
            [STRATUM] [tinyint] NOT NULL,
            [STRATUMNAME] [nvarchar](100) NOT NULL,
            [REGION] [tinyint] NOT NULL,
            [REGIONNAME] [nvarchar](100) NOT NULL,
            [PSU] [tinyint] NOT NULL,
            [PJ] [smallint] NOT NULL,
            [PSU_VAR] [tinyint] NOT NULL,
            [URBANICITY] [tinyint] NOT NULL,
            [URBANICITYNAME] [nvarchar](100) NOT NULL,
            [VE_FORMS] [tinyint] NOT NULL,
            [NUMOCCS] [tinyint] NOT NULL,
            [NUMOCCSNAME] [tinyint] NULL,
            [MONTH] [tinyint] NOT NULL,
            [MONTHNAME] [nvarchar](100) NOT NULL,
            [HOUR] [tinyint] NOT NULL,
            [HOURNAME] [nvarchar](100) NOT NULL,
            [MINUTE] [tinyint] NOT NULL,
            [MINUTENAME] [tinyint] NULL,
            [HARM_EV] [tinyint] NOT NULL,
            [HARM_EVNAME] [nvarchar](150) NOT NULL,
            [MAN_COLL] [tinyint] NOT NULL,
            [MAN_COLLNAME] [nvarchar](100) NOT NULL,
            [UNITTYPE] [tinyint] NOT NULL,
            [UNITTYPENAME] [nvarchar](100) NOT NULL,
            [HIT_RUN] [bit] NOT NULL,
            [HIT_RUNNAME] [bit] NOT NULL,
            [MAKE] [tinyint] NOT NULL,
            [MAKENAME] [nvarchar](100) NOT NULL,
            [MODEL] [smallint] NOT NULL,
            [MAK_MOD] [int] NOT NULL,
            [MAK_MODNAME] [nvarchar](150) NOT NULL,
            [BODY_TYP] [tinyint] NOT NULL,
            [BODY_TYPNAME] [nvarchar](100) NOT NULL,
            [MOD_YEAR] [smallint] NOT NULL,
            [MOD_YEARNAME] [smallint] NULL,
            [VIN] [nvarchar](100) NOT NULL,
            [VINNAME] [nvarchar](100) NOT NULL,
            [TOW_VEH] [tinyint] NOT NULL,
            [TOW_VEHNAME] [nvarchar](100) NOT NULL,
            [J_KNIFE] [bit] NULL,
            [J_KNIFENAME] [nvarchar](100) NOT NULL,
            [MCARR_I1] [tinyint] NOT NULL,
            [MCARR_I1NAME] [nvarchar](50) NOT NULL,
            [MCARR_I2] [int] NULL,
            [MCARR_I2NAME] [nvarchar](50) NOT NULL,
            [MCARR_ID] [bigint] NULL,
            [MCARR_IDNAME] [nvarchar](50) NOT NULL,
            [V_Config] [tinyint] NOT NULL,
            [V_ConfigNAME] [nvarchar](100) NOT NULL,
            [CARGO_BT] [tinyint] NOT NULL,
            [CARGO_BTNAME] [nvarchar](100) NOT NULL,
            [HAZ_INV] [tinyint] NOT NULL,
            [HAZ_INVNAME] [nvarchar](100) NOT NULL,
            [HAZ_PLAC] [tinyint] NOT NULL,
            [HAZ_PLACNAME] [nvarchar](100) NOT NULL,
            [HAZ_ID] [smallint] NOT NULL,
            [HAZ_IDNAME] [nvarchar](100) NOT NULL,
            [HAZ_CNO] [tinyint] NOT NULL,
            [HAZ_CNONAME] [nvarchar](100) NOT NULL,
            [HAZ_REL] [tinyint] NOT NULL,
            [HAZ_RELNAME] [nvarchar](100) NOT NULL,
            [BUS_USE] [tinyint] NOT NULL,
            [BUS_USENAME] [nvarchar](100) NOT NULL,
            [SPEC_USE] [tinyint] NOT NULL,
            [SPEC_USENAME] [nvarchar](100) NOT NULL,
            [EMER_USE] [tinyint] NOT NULL,
            [EMER_USENAME] [nvarchar](100) NOT NULL,
            [TRAV_SP] [smallint] NOT NULL,
            [TRAV_SPNAME] [nvarchar](100) NOT NULL,
            [ROLLOVER] [tinyint] NOT NULL,
            [ROLLOVERNAME] [nvarchar](100) NOT NULL,
            [ROLINLOC] [tinyint] NOT NULL,
            [ROLINLOCNAME] [nvarchar](100) NOT NULL,
            [IMPACT1] [tinyint] NOT NULL,
            [IMPACT1NAME] [nvarchar](100) NOT NULL,
            [DEFORMED] [tinyint] NOT NULL,
            [DEFORMEDNAME] [nvarchar](100) NOT NULL,
            [TOWED] [tinyint] NOT NULL,
            [TOWEDNAME] [nvarchar](100) NOT NULL,
            [M_HARM] [tinyint] NOT NULL,
            [M_HARMNAME] [nvarchar](150) NOT NULL,
            [VEH_ALCH] [tinyint] NOT NULL,
            [VEH_ALCHNAME] [nvarchar](100) NOT NULL,
            [MAX_VSEV] [tinyint] NOT NULL,
            [MAX_VSEVNAME] [nvarchar](100) NOT NULL,
            [NUM_INJV] [tinyint] NOT NULL,
            [NUM_INJVNAME] [nvarchar](100) NOT NULL,
            [FIRE_EXP] [tinyint] NOT NULL,
            [FIRE_EXPNAME] [nvarchar](100) NOT NULL,
            [DR_PRES] [tinyint] NOT NULL,
            [DR_PRESNAME] [nvarchar](100) NOT NULL,
            [DR_ZIP] [int] NOT NULL,
            [DR_ZIPNAME] [int] NULL,
            [SPEEDREL] [tinyint] NOT NULL,
            [SPEEDRELNAME] [nvarchar](100) NOT NULL,
            [VTRAFWAY] [tinyint] NOT NULL,
            [VTRAFWAYNAME] [nvarchar](100) NOT NULL,
            [VNUM_LAN] [tinyint] NOT NULL,
            [VNUM_LANNAME] [nvarchar](100) NOT NULL,
            [VSPD_LIM] [tinyint] NOT NULL,
            [VSPD_LIMNAME] [nvarchar](100) NOT NULL,
            [VALIGN] [tinyint] NOT NULL,
            [VALIGNNAME] [nvarchar](100) NOT NULL,
            [VPROFILE] [tinyint] NOT NULL,
            [VPROFILENAME] [nvarchar](100) NOT NULL,
            [VSURCOND] [tinyint] NOT NULL,
            [VSURCONDNAME] [nvarchar](100) NOT NULL,
            [VTRAFCON] [tinyint] NOT NULL,
            [VTRAFCONNAME] [nvarchar](100) NOT NULL,
            [VTCONT_F] [tinyint] NOT NULL,
            [VTCONT_FNAME] [nvarchar](100) NOT NULL,
            [P_CRASH1] [tinyint] NOT NULL,
            [P_CRASH1NAME] [nvarchar](100) NOT NULL,
            [P_CRASH2] [tinyint] NOT NULL,
            [P_CRASH2NAME] [nvarchar](100) NOT NULL,
            [P_CRASH3] [tinyint] NOT NULL,
            [P_CRASH3NAME] [nvarchar](50) NOT NULL,
            [PCRASH4] [tinyint] NOT NULL,
            [PCRASH4NAME] [nvarchar](100) NOT NULL,
            [PCRASH5] [tinyint] NOT NULL,
            [PCRASH5NAME] [nvarchar](100) NOT NULL,
            [ACC_TYPE] [tinyint] NOT NULL,
            [ACC_TYPENAME] [nvarchar](100) NOT NULL,
            [TRLR1VIN] [nvarchar](100) NOT NULL,
            [TRLR1VINNAME] [nvarchar](100) NOT NULL,
            [TRLR2VIN] [nvarchar](100) NOT NULL,
            [TRLR2VINNAME] [nvarchar](100) NOT NULL,
            [TRLR3VIN] [bigint] NOT NULL,
            [TRLR3VINNAME] [nvarchar](100) NOT NULL,
            [VPICMAKE] [int] NOT NULL,
            [VPICMAKENAME] [nvarchar](100) NOT NULL,
            [VPICMODEL] [int] NOT NULL,
            [VPICMODELNAME] [nvarchar](100) NOT NULL,
            [VPICBODYCLASS] [smallint] NOT NULL,
            [VPICBODYCLASSNAME] [nvarchar](100) NOT NULL,
            [ICFINALBODY] [smallint] NOT NULL,
            [ICFINALBODYNAME] [nvarchar](100) NOT NULL,
            [GVWR_FROM] [tinyint] NOT NULL,
            [GVWR_FROMNAME] [nvarchar](100) NOT NULL,
            [GVWR_TO] [tinyint] NOT NULL,
            [GVWR_TONAME] [nvarchar](100) NOT NULL,
            [TRLR1GVWR] [tinyint] NOT NULL,
            [TRLR1GVWRNAME] [nvarchar](100) NOT NULL,
            [TRLR2GVWR] [tinyint] NOT NULL,
            [TRLR2GVWRNAME] [nvarchar](100) NOT NULL,
            [TRLR3GVWR] [tinyint] NOT NULL,
            [TRLR3GVWRNAME] [nvarchar](100) NOT NULL,
            [BDYTYP_IM] [tinyint] NOT NULL,
            [BDYTYP_IMNAME] [nvarchar](100) NOT NULL,
            [MDLYR_IM] [smallint] NOT NULL,
            [MDLYR_IMNAME] [smallint] NOT NULL,
            [IMPACT1_IM] [tinyint] NOT NULL,
            [IMPACT1_IMNAME] [nvarchar](100) NOT NULL,
            [VEVENT_IM] [tinyint] NOT NULL,
            [VEVENT_IMNAME] [nvarchar](150) NOT NULL,
            [PCRASH1_IM] [tinyint] NOT NULL,
            [PCRASH1_IMNAME] [nvarchar](100) NOT NULL,
            [MXVSEV_IM] [tinyint] NOT NULL,
            [MXVSEV_IMNAME] [nvarchar](100) NOT NULL,
            [NUMINJ_IM] [tinyint] NOT NULL,
            [NUMINJ_IMNAME] [nvarchar](100) NOT NULL,
            [V_ALCH_IM] [tinyint] NOT NULL,
            [V_ALCH_IMNAME] [nvarchar](100) NOT NULL,
            [PSUSTRAT] [tinyint] NOT NULL,
            [WEIGHT] [float] NOT NULL
        )
    END
    """
    #insert
    for index, row in dataframe.iterrows():
        cursor.execute(
            "INSERT INTO YourTableName (FirstName, LastName, Salary) VALUES (?, ?, ?)",
            row['FirstName'], row['LastName'], row['Salary']
        )
    sql_conn.commit()
    return

In [ ]:
# use this section if grabbing data from sql server into postgresql
# tables = ['DimProduct', 'DimProductSubcategory', 'DimProductCategory', 'DimSalesTerritory', 'FactInternetSales']

# #Loop through wanted tables from SQL Server and load into PostgreSQL extract location
# for table in tables:
#     query = f"SELECT * FROM {table}"
#     df = pd.read_sql(query, sql_conn)
    
#     # Load into PostgreSQL
#     df.to_sql(table.lower(), pg_engine, index=False, if_exists='replace')  # Use lower case for PostgreSQL
#     print(f"Loaded {table} into PostgreSQL")

In [ ]:
# Increase the maximum number of rows to display
pd.set_option('display.max_rows', None)

# Increase the maximum number of columns to display
pd.set_option('display.max_columns', None)

# If necessary, increase the maximum column width
pd.set_option('display.max_colwidth', None)

#removes white space function
def remove_whitespace(df):
    for column in df.columns:
        if df[column].dtype == 'object':
            df[column] = df[column].str.strip()
    return df

Accidents 2020 -> Transformation Table

In [ ]:
#accidents 2020
filepath = r'acc_20.csv'
data = pd.read_csv(filepath,encoding='cp1252')
acc_20 = data.copy()

#check nulls
    #Only work zone has nulls but we will be leaving it as-is
#remove whitespace
acc_20 = remove_whitespace(acc_20)
#standardize data (if any)
    #no changes
#remove duplicates (if any)
acc_20.drop_duplicates()
#data type conversions (if any)
    #no changes
#create a new csv file (this is our tranformation table)

CASENUM             int64
STRATUM             int64
STRATUMNAME        object
REGION              int64
REGIONNAME         object
PSU                 int64
PJ                  int64
PSU_VAR             int64
URBANICITY          int64
URBANICITYNAME     object
VE_TOTAL            int64
VE_FORMS            int64
PVH_INVL            int64
PEDS                int64
PERMVIT             int64
PERNOTMVIT          int64
NUM_INJ             int64
NUM_INJNAME        object
MONTH               int64
MONTHNAME          object
YEAR                int64
YEARNAME            int64
DAY_WEEK            int64
DAY_WEEKNAME       object
HOUR                int64
HOURNAME           object
MINUTE              int64
MINUTENAME         object
HARM_EV             int64
HARM_EVNAME        object
ALCOHOL             int64
ALCOHOLNAME        object
MAX_SEV             int64
MAX_SEVNAME        object
MAN_COLL            int64
MAN_COLLNAME       object
RELJCT1             int64
RELJCT1NAME        object
RELJCT2             int64
RELJCT2NAME        object
TYP_INT             int64
TYP_INTNAME        object
WRK_ZONE            int64
WRK_ZONENAME       object
REL_ROAD            int64
REL_ROADNAME       object
LGT_COND            int64
LGT_CONDNAME       object
SCH_BUS             int64
SCH_BUSNAME        object
INT_HWY             int64
INT_HWYNAME        object
WEATHER             int64
WEATHERNAME        object
WKDY_IM             int64
WKDY_IMNAME        object
HOUR_IM             int64
HOUR_IMNAME        object
MINUTE_IM           int64
MINUTE_IMNAME       int64
EVENT1_IM           int64
EVENT1_IMNAME      object
MANCOL_IM           int64
MANCOL_IMNAME      object
RELJCT1_IM          int64
RELJCT1_IMNAME     object
RELJCT2_IM          int64
RELJCT2_IMNAME     object
LGTCON_IM           int64
LGTCON_IMNAME      object
WEATHR_IM           int64
WEATHR_IMNAME      object
MAXSEV_IM           int64
MAXSEV_IMNAME      object
NO_INJ_IM           int64
NO_INJ_IMNAME      object
ALCHL_IM            int64
ALCHL_IMNAME       object
PSUSTRAT            int64
WEIGHT            float64
dtype: object

Accidents: 2016, 2017, 2018 --> Transfomation Table

In [ ]:
#accidents 2016
filepath = r'acc_16.csv'
data = pd.read_csv(filepath,encoding='cp1252')
acc_16 = data.copy()
#accidents 2017
filepath = r'acc_17.csv'
data = pd.read_csv(filepath,encoding='cp1252')
acc_17= data.copy()
#accidents 2018
filepath = r'acc_18.csv'
data = pd.read_csv(filepath,encoding='cp1252')
acc_18 = data.copy()
#accidents 2019
filepath = r'acc_19.csv'
data = pd.read_csv(filepath,encoding='cp1252')
acc_19 = data.copy()
#drop columns
columns_to_drop = ['WEATHER2','CF1', 'CF2', 'CF3']
acc_16 = acc_16.drop(columns=columns_to_drop)
acc_17 = acc_17.drop(columns=columns_to_drop)
acc_18 = acc_18.drop(columns=columns_to_drop)
columns_to_drop = ['WEATHER1', 'WEATHER2', 'CF1', 'CF1NAME', 'CF2', 'CF2NAME', 'CF3', 'CF3NAME']
acc_19 = acc_19.drop(columns=columns_to_drop)

Vehicles: 2016, 2017, 2018 --> Destination Table

In [ ]:
#import all data from csv
filepath = r'veh_16.csv'
data = pd.read_csv(filepath,encoding='cp1252')
veh_16 = data.copy()
filepath = r'veh_17.csv'
data = pd.read_csv(filepath,encoding='cp1252')
veh_17 = data.copy()
filepath = r'veh_18.csv'
data = pd.read_csv(filepath,encoding='cp1252')
veh_18 = data.copy()
filepath = r'veh_19.csv'
data = pd.read_csv(filepath,encoding='cp1252')
veh_19 = data.copy()
filepath = r'veh_20.csv'
data = pd.read_csv(filepath,encoding='cp1252')
veh_20 = data.copy()
#clean data, standardize data, remove duplicates, data type conversions (if needed)
veh_16
#transform data
    #
# Define a dictionary mapping source columns to target columns
mapping = {
    'CASENUM': 'CASENUM',
}
# Rename columns based on the mapping
staging_df = df.rename(columns=mapping)

#load data

C:\Users\Thus\AppData\Local\Temp\ipykernel_20352\156821376.py:3: DtypeWarning: Columns (23,24,70,71) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(filepath,encoding='cp1252')

In [ ]:
filepath = r'pers_16.csv'
data = pd.read_csv(filepath,encoding='cp1252')
pers_16 = data.copy()
filepath = r'pers_17.csv'
data = pd.read_csv(filepath,encoding='cp1252')
pers_17= data.copy()
filepath = r'pers_18.csv'
data = pd.read_csv(filepath,encoding='cp1252')
pers_18 = data.copy()
filepath = r'pers_19.csv'
data = pd.read_csv(filepath,encoding='cp1252')
pers_19 = data.copy()
filepath = r'pers_20.csv'
data = pd.read_csv(filepath,encoding='cp1252')
pers_20 = data.copy()

2019 --> Destination Table

2020 --> Destination Table

In [ ]:
filepath = r'acc_16.csv'
data = pd.read_csv(filepath,encoding='cp1252')

#Creates copy as to avoid modifying original object
df = data.copy()
#Preview top 5 rows
df.columns.tolist()

In [16]:
filepath = r'acc_16.csv'
data = pd.read_csv(filepath,encoding='cp1252')
acc_16 = data.copy()
acc_16.dtypes

CASENUM         int64
PSU             int64
PJ              int64
STRATUM         int64
VE_TOTAL        int64
VE_FORMS        int64
PVH_INVL        int64
PEDS            int64
PERMVIT         int64
PERNOTMVIT      int64
NUM_INJ         int64
MONTH           int64
YEAR            int64
DAY_WEEK        int64
HOUR            int64
MINUTE          int64
HARM_EV         int64
ALCOHOL         int64
MAX_SEV         int64
MAN_COLL        int64
RELJCT1         int64
RELJCT2         int64
TYP_INT         int64
WRK_ZONE        int64
REL_ROAD        int64
LGT_COND        int64
WEATHER1        int64
WEATHER2        int64
WEATHER         int64
SCH_BUS         int64
INT_HWY         int64
CF1             int64
CF2             int64
CF3             int64
WKDY_IM         int64
HOUR_IM         int64
MINUTE_IM       int64
EVENT1_IM       int64
MANCOL_IM       int64
RELJCT1_IM      int64
RELJCT2_IM      int64
LGTCON_IM       int64
WEATHR_IM       int64
MAXSEV_IM       int64
NO_INJ_IM       int64
ALCHL_IM        int64
URBANICITY      int64
REGION          int64
PSUSTRAT        int64
PSU_VAR         int64
WEIGHT        float64
dtype: object